.avatarBlock {
    width: 250px;
}
.avatar {
    border-radius: 2px 2px 0 0;
    display: block;
    padding: 0;
}
.controls {
    padding: 15px;
}
.button {
    margin-bottom: 15px;
}
.button:last-child {
    margin-bottom: 0;
}