.chat {
    width: calc(100% - 60px);
    height: calc(100vh - var(--sizeHeader) - 49px - 15px - 48px);
    overflow: auto;
    padding: 0 30px;
    display: flex;
    flex-direction: column-reverse;
    min-height: 302px;
}
.message {
    display: flex;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 4px;
}
.message:first-child {
    margin-bottom: 30px;
}
.avatar {
    margin-right: 15px;
}
.name {
    font-weight: 500;
}
.timeMessage {
    color: var(--secondText);
    margin-left: 5px;
}
.title {
    margin: 5px 0 2px;
}
.text {
    padding: 6px 0 7px;
}
.whenWritten {
    margin: 13px 0;
    text-align: center;
    color: var(--secondText);
    font-size: 13px;
}