.perfomance {
    display: flex;
    position: relative;
    padding: 15px;
    margin-left: 15px;
}
.perfomance table, .perfomance td, .perfomance th {
    vertical-align: middle;
}
.perfomance th:first-child, .perfomance td:first-child {
    width: 15px;
}
.perfomance th, .perfomance td {
    text-align: center!important;
}
.pointSuccess{
    color: var(--success);
}