.friends {
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.span {
    font-size: 16px;
    line-height: 16px;
    padding: 0;
    display: block;
    color: var(--textColor);
}
.a:hover{
    text-decoration: none;
}
.mark {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.a{
    font-size: 16px;
    line-height: 16px;
    display: block;
}
.link {
    composes: a;
    text-align: center;
    padding: 0 10px;
    font-size: 12px;
    line-height: 13px;
    margin-top: 3px;
}
.profile {
    margin-top: 10px;
}
.profile img{
    display: block!important;
    margin: 0 10px;
}