.Projects  {
    display: flex;
}
.rightBlock {
    width: 250px;
    padding: 0 15px 15px;
}
.main {
    margin: -15px 15px;
    width: 100%;
}
.button {
    margin-top: 15px;
}
.pagination {
    margin-top: -30px;
    margin-bottom: 50px;
    text-align: center;
}
.loading {
    text-align: center;
    padding-top: 50px;
}