.skill {
    margin-top: 15px;
}
.skill:after {
    clear: both;
    content: '';
    display: block;
}
.chip {
    float: left;
    margin-right: 6px!important;
}
.chipWrapper {
    display: flex;
    align-items: center;
}
.i {
    background-color: var(--primaryColor);
    font-size: 14px;
    line-height: 32px;
    margin-left: -12px;
    border-radius: 19px;
    margin-right: 12px;
    display: inline-block;
    width: 33px;
    height: 33px;
    text-align: center;
    color: var(--alternateTextColor);
}
.divider {
    padding-top: 16px;
}
.icon {
    margin-right: -8px!important;
    margin-left: 3px;
    cursor: pointer;
}